{{define "tetris"}}
<html>
    <head>
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
        <style>
            #tetrisCanvas {
                display: block;
                margin: auto;
                border: 1px solid black;
            }
        </style>
        <script>
            $(function(){
                "use strict";
    
                /* Is game started? */
                var isStarted = "{{.tetris.Common.IsStarted}}";
                isStarted = isStarted == "" ? 0 : isStarted;
    
                /* Tetris Object */
                var tetris;
    
                /* Tetris Setting */
                const COLS = "{{.tetris.Width}}";
                const ROWS = "{{.tetris.Height}}";
    
                const BLOCK_WIDTH  = "{{.tetris.BlockWidth}}";
                const BLOCK_HEIGHT = "{{.tetris.BlockHeight}}";
    
                var level = "{{.tetris.Level}}";
    
                // Tetris Map Size
                var ctxWidth  = 300;
                var ctxHeight = 600;
    
                // Tetris Map Contour Line Color
                var mapColor = "#ddd";
    
                // Block Color Setting
                var blockColors = {
                    "I" : "skyblue",
                    "O" : "yellow",
                    "T" : "purple",
                    "S" : "lightgreen",
                    "Z" : "red",
                    "J" : "blue",
                    "L" : "orange"
                }
    
                // Possible Keys
                var possibleKeys = [
                    13      // enter(start)
                    , 37    // left
                    , 39    // right
                    , 40    // down
                    , 38    // up(rotate)
                    , 27    // esc(pause, restart)
                    , 32    // space(drop)
                ];
    
                /* Tetris Canvas Draw */
                var ctx = document.getElementById('tetrisCanvas').getContext('2d');
                drawTetrisMap();
    
                /* start message */
                ctx.fillText('PRESS ENTER KEY!', ctxWidth/2, ctxHeight/2);
    
                /* Key controls */
                $(document).on("keydown", "body", function(e){
                    if (possibleKeys.indexOf(e.keyCode) > -1) {
                        if (isStarted > 0) {
                            if (e.keyCode == 27) {
                                // pause
                                //clearInterval(ticking);
    
                                if (confirm("PAUSE!\nDo you wan't restart the game?")) {
                                    e.keyCode = 13;
                                } else {
                                    // continue
                                    ticking(level);
                                    return false;
                                }
                            } else if (e.keyCode == 13) {
                                return false;
                            }
                        } else {
                            if (e.keyCode != 13) {
                                return false;
                            }
                        }
                        gameControlling(e.keyCode);
                    }
                })
    
                // Tetris ticking
                var tick;
                function ticking(level) {
                    if (tick != undefined) clearTimeout(tick);
    
                    tick = setTimeout(function(){
                        gameControlling(40);
                    }, calculateTickingTiming(level));
                }
    
                // level per ticking timing
                function calculateTickingTiming(level) {
                    var tickingTiming = 1000 - ((level-1)*100);
                    tickingTiming = tickingTiming < 100 ? 100 : tickingTiming;
    
                    return tickingTiming;
                }
    
                // Tetris Game Map Draw
                function drawTetrisMap() {
                    ctx.clearRect(0,0,ctxWidth,ctxHeight);
    
                    ctx.strokeStyle = mapColor;
                    for (var row=0; row<ROWS; row++) {
                        for (var col=0; col<COLS; col++) {
                            ctx.strokeRect(col*BLOCK_WIDTH, row*BLOCK_HEIGHT, BLOCK_WIDTH, BLOCK_HEIGHT); // Draw the Contour line;
                        }
                    }
                }
    
                // Tetris Block Draw
                function drawTetrisBlock(tetrisBlock) {
                    Object.keys(tetrisBlock).forEach(function(blockKey){
                        var blockDataList = tetrisBlock[blockKey];
                        if (blockDataList != null) {
                            for (var i=0; i<blockDataList.length; i++){
                                if (blockDataList[i]!=null) {
                                    ctx.strokeStyle = "black";
                                    ctx.fillStyle = blockColors[blockKey];
    
                                    ctx.strokeRect(blockDataList[i][0], blockDataList[i][1], BLOCK_WIDTH, BLOCK_HEIGHT);
                                    ctx.fillRect(blockDataList[i][0], blockDataList[i][1], BLOCK_WIDTH, BLOCK_HEIGHT);
                                }
                            }
                        }
                    })
                }
    
                // Control Tetris Block
                function gameControlling(keyCode) {
                    $.ajax({
                        type : "POST"
                        , url : "/game/tetris/api/control"
                        , data : JSON.stringify($.extend(tetris, {
                            "Common" : {
                                "keyCode" : keyCode
                                , "ctxWidth" : ctxWidth
                                , "ctxHeight" : ctxHeight
                                , "isStarted" : isStarted
                            }
                        }))
                        , dataType : "json"
                        , contentType : "application/json"
                    }).done(function(data){
                        drawTetrisMap();
                        tetris = data;
    
                        // Now Block drawing
                        if (tetris.nowBlockCanvasData!=null) {
                            drawTetrisBlock(tetris.nowBlockCanvasData)
                        }
    
                        // Stacked Block drawing
                        if (tetris.stackedBlockCanvasData!=null) {
                            drawTetrisBlock(tetris.stackedBlockCanvasData)
                        }
    
                        // Next Block drawing
                        var nextBlock = Object.keys(tetris.nextBlock);
                        $("#nextBlock").attr("src","/static/img/tetris/block_"+nextBlock+".jpg");
    
                        // Score set
                        $("#score").text(tetris.score);
    
                        // Level set
                        $("#level").text(tetris.level);
    
                        // set Start flag.
                        isStarted = tetris.Common.isStarted;
    
                        // start Ticking
                        ticking(tetris.level);
    
                    }).fail(function(){
                        console.log("error");
                    });
                }
            })
        </script>
    </head>
    <body>
        <header></header>
        <main role="main">
            <section class="text-center">
                <h1>TETRIS</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 align-self-end">
                            <canvas id="tetrisCanvas" width="300" height="600"></canvas>
                        </div>
                        <div class="col-md-2">
                            <div class="card shadow-sm text-center">
                                <div class="card-header">
                                    <h5>LEVEL</h5>
                                </div>
                                <div class="card-body">
                                    <span id="level">1</span>
                                </div>
                            </div>
                            <div class="card shadow-sm text-center">
                                <div class="card-header">
                                    <h5>SCORE</h5>
                                </div>
                                <div class="card-body">
                                    <span id="score">000</span>
                                </div>
                            </div>
                            <div class="card shadow-sm text-center">
                                <div class="card-header">
                                    <h5>NEXT</h5>
                                </div>
                                <div class="card-body">
                                    <img id="nextBlock" src="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer" style="position: absolute; bottom: 0;">
            <div class="container">
                <span class="text-muted">GOLANG TETRIS GAME / copyright. kgd</span>
            </div>
        </footer>
    </body>
</html>
{{end}}